# Estes arquivos foram mantidos para facilitar a visualização
# sem a necessidade de rodar todo o projeto. Mas, normalmente, 
# seriam apontados aqui para não serem adicionados ao GitHub:

# .csv
# .db